/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Table style
---------------------------------------------------*/
table.paleBlueRows {
	font-family: "Times New Roman", Times, serif;
	border: 1px solid #FFFFFF;
	width: 100%;
	height: 100%;
	text-align: center;
	border-collapse: collapse;
}

table.paleBlueRows td, table.paleBlueRows th {
	border: 1px solid #FFFFFF;
	padding: 3px 2px;
}

@media (max-width: 768px) {
	.blockFull {
		display: none;
	}
}

@media (min-width: 768px) {
	.blockMobile {
		display: none;
	}
}

/*@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 980px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1340px;
	}
}*/

table.paleBlueRows tbody td {
	font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
	background: #D0E4F5;
}

table.paleBlueRows thead {
	background: #0B6FA4;
	border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRows thead th {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
	border-left: none;
}

table.paleBlueRows tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background: #D0E4F5;
	border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
	font-size: 14px;
}


/* Grid styles
#########################################*/
.gridWrapper {
	display: grid;
	grid-template-columns: 150px 150px
}

@media screen and (orientation: portrait) {
	.gridWrapper {
		margin-bottom: 2em;
	}
}

/* Cards */
.cardContainer {
	padding: 2px 16px;
	display: grid;
	justify-content: space-around;
	grid-template-columns: auto auto auto auto;
	grid-gap: 30px;
}

.statTitle {
	color: white;
	text-align:center;
	padding:5px;
}

.statCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	transition: 0.3s;
	border-width: 3px;
	border-color: black;
	border-radius: 10px 10px 0px 0px;
	height: 455px;
	width: 285px;
	background-color: cornflowerblue;
}

.statCard:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.statImageContainer{
	padding: 5px;
	border-width:2px;
	border-radius: 5px;
	border-color:black;
	align-self: center;
}

@media (max-width: 576px) {
	.cardContainer {
		grid-template-columns: auto
	}
}

@media (min-width: 576px) {
	.cardContainer {
		grid-template-columns: auto auto
	}
}

@media (min-width: 992px) {
	.cardContainer {
		grid-template-columns: auto auto auto
	}
}

@media (min-width: 1200px) {
	.cardContainer {
		grid-template-columns: auto auto auto auto;
	}
}


/* CHART
####################################################*/
.chartCanvas{
	width:100%;
	height:400px
}