@page
@model TorneosWeb.Pages.AgregarTorneoModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AgregarTorneo</title>
</head>
<body>

	<div style="display:grid">
		<div style="grid-column:1/span 2">
			<form enctype="multipart/form-data" method="post">
				<dl>
					<dt>
						<label asp-for="TorneoUpload.FormFiles"></label>
					</dt>
					<dd>
						<input asp-for="TorneoUpload.FormFiles" type="file" multiple />
						<span asp-validation-for="TorneoUpload.FormFiles"></span>
					</dd>
				</dl>
				<input type="submit" value="Upload" asp-page-handler="Torneo" />
			</form>

			<p>@Model.Result</p>
		</div>
		
		<div style="grid-column:3">
			<form method="post">
				<button type="submit" asp-page-handler="GenerateBalance">Generar Balance</button>
			</form>
			<a href="@Model.BalanceSheet" target="_blank">Hoja de Balance</a>
		</div>
		
	</div>

</body>
</html>