@page
@model TorneosWeb.Pages.EstadisticasModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	<title>Estadisticas</title>
</head>
<body>

	<partial name="_Estadisticas" model="Model.Estadisticas" />

</body>
</html>