@page
@model TorneosWeb.Pages.EstadisticasModel
@{
	ViewData["StatsLevel"] = 1;
}

<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	<title>Estadisticas</title>
</head>

<partial name="_Estadisticas" model="Model.Estadisticas" />

@section Scripts{
	<script>
		$(document).ready(function () {
			$('#table_stats').DataTable({
				paging: false,
				order: [[2, 'desc']],
				columnDefs: [
					{ orderable: false, targets: 0 }
				],
				info: false,
				searching: false
			});
		});
	</script>
}