@page
@model TorneosWeb.Pages.JugadoresModel
@{
	Layout = "~/Pages/Shared/_LayoutJugadores.cshtml";
}

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Jugadores</title>
</head>

<ul>
	@foreach( var jugador in Model.jugadores )
	{
		<li>
			<a asp-page="./Jugador" asp-route-id="@jugador.Id">@Html.DisplayFor( modelItem => jugador.Nombre )</a>
		</li>
	}
</ul>