@page
@model TorneosWeb.Pages.LigasModel
@{
	ViewData["Title"] = "Ligas";
	Layout = "~/Pages/Shared/_LayoutLigas.cshtml";
}

<h1>Ligas</h1>

<div style="display:grid;grid-template-columns: max-content min-content;text-align: left;grid-gap:10px 20px">
	@foreach( var liga in Model.Ligas )
	{
		<span>
			@Html.DisplayFor( m => liga.FechaInicio )
		</span>
		<span>
			@Html.ActionLink( liga.Nombre, "LigaNombre", "Home", new { nombreLiga = liga.Nombre } )
		</span>
	}
</div>