@page
@model TorneosWeb.Pages.TorneosModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Torneos</title>
</head>
<body>
	
	<partial name="_TorneosListing" model="Model.Torneos"/>

</body>
</html>