@page
@model TorneosWeb.Pages.TorneoLigaModel
@{
    ViewData["Title"] = "TorneoLiga";
    Layout = "~/Pages/Shared/_LayoutLigas.cshtml";
}

<h1>@Html.DisplayFor( model => model.Fecha )</h1>

<partial name="_TorneoLigaResults" model="Model.Standings" />